<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body style="background-color: rgb(68, 64, 64);">
    <main>
    
            <center>
                <img src="{{url_for('static', filename='assets/crying-face.png')}}" style="width: 50px;" alt="">
            <h2>Page not found</h2>
            </center>
        <div style="display: flex; justify-content:center; align-items:center;">
            <img src="{{url_for('static', filename='assets/404.gif')}}" alt="" style="width: 500px; height:350px; border-radius: 10px">
    
        </div><br>
        <center>
        <button style="width: 180px; height:30px; border:none; outline:none; background:blue;"><a href="" style="text-decoration: none; color:white;">BACK TO HOME</a> </button>
        </center>
    </main>
</body>
</html>