<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <form action="{{url_for('Success')}}" method="POST">
                <p>Register Now!</p>
                <input type="text" placeholder="Enter name" name="Name"><br />
                <input type="email" placeholder="email" name="Email"><br />
                <input type="tel" placeholder="Phone number" name="Phone"><br />
                <input type="text" placeholder="Country" name="Country"><br />
                <input type="text" placeholder="occupation" name="Occupation"><br />
                <input type="submit">
            </form>
        </div>
    </main>
</body>
</html>